jupyterlab
notebook
ipykernel
ipywidgets

numpy
pandas
scipy
scikit-learn
matplotlib
tqdm
toml
pyyaml
requests

Pillow
opencv-python-headless

transformers==4.54.1
diffusers[torch]==0.32.1
accelerate==1.6.0
huggingface-hub==0.34.3
safetensors==0.4.5
datasets
peft
tokenizers
sentencepiece
protobuf

imagesize
ftfy
einops
voluptuous
tensorboard
rich
lion-pytorch
schedulefree
pytorch-optimizer
prodigyopt
prodigy-plus-schedule-free
open-clip-torch

controlnet_aux
basicsr
facexlib
gfpgan
git+https://github.com/xinntao/Real-ESRGAN.git
